# Dependencies
node_modules/
package-lock.json

# Cypress
cypress/screenshots/
cypress/videos/
cypress/reports/
cypress/downloads/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment
.env